ul {
    list-style-type: none;
    margin: 0; /*sets all the margin properties*/
    padding: 0; /*used to generate space around content*/
    overflow: hidden; /*whether to clip content or to add scrollbars */
    background-color: #83281A;
    position: fixed;
    top: 0.5em;
    width: 100%;
  }

  ul > li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  h1{
    margin-top: 5%;
    text-align: center;
}

#about{
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}